.opt-in {
	font: 14px/1.6 "opensans", sans-serif;
	font-variant: small-caps;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 276px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.opt-in span {
	display: block;
	color: white;
}

.opt-in span:nth-child(1) {
	font-size: 77px;
	color: #ff9e57;
	margin-left: 20px;
	margin-bottom: -10px;
}

.opt-in span:nth-child(1)::after {
	content: "+1";
	width: 19px;
	background: red;
	font-size: 13px;
	border-radius: 3px;
	opacity: 0.8;
	border-radius: 3px;
	position: absolute;
	transform: translate(225px, -84px);
	color: white;
}

.opt-in span:nth-child(2) {
	font-size: 120px;
	line-height: 1px;
}

.opt-in span:nth-child(3) {
	line-height: 150px;
	font-size: 35px;
}

.opt-in span:nth-child(4) {
	line-height: 1px;
	font-size: 83px;
	color: #ff9e57;
}

.opt-in span:nth-child(5) {
	line-height: 120px;
	font-size: 120px;
}

.opt-in span:nth-child(6) {
	line-height: 20px;
	font-size: 30px;
}

.opt-in a {
	font-size: 20px;
	font-variant: small-caps;
	background: #ff9e57;
	width: 220px;
	height: 29px;
	padding-bottom: 42px;
	padding-top: 8px;
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	letter-spacing: 10px;
	margin-top: 30px;
	border-radius: 3px;
	text-align: center;
}

.full-screen {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.item .carousel-caption .jumbotron {
	background-color: transparent;
}

.carousel-caption {
	top: 37%;
	text-shadow: none;
	z-index: 101;
}

.item .carousel-caption .jumbotron h2 {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #03475d;
}

.item .carousel-caption .jumbotron h1 {
	font-size: 68px;
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}

.item .carousel-caption .jumbotron .carousel-lead {
	font-size: 18px;
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #03475d;
}

.video-content {
	float: left;
	height: 100%;
	position: relative;
	width: 100%;
  /*     z-index: 999 */;
}

.banner-video {
	height: 100%;
	opacity: 1;
	position: relative;
	transition: all 0.5s ease 0s;
	width: 100%;
  /*     z-index: 99 */;
}

.banner-video iframe {
	height: 150%;
	left: -25%;
	max-height: 500%;
	max-width: 500%;
	position: absolute;
	top: -25%;
	width: 150%;
}

.bg-black-banner {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}
